body::-webkit-scrollbar {
  display: none;
} 

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #f0f1f2;
}

footer{
  background-color: #f0f1f2;
}

i{
  cursor: pointer;
}

.hr-three {
  height: 14px;
  border: 0;
  box-shadow: inset 0 12px 12px -12px #999999;
}
.hr-three-reverse{
  height: 14px;
  border: 0;
  box-shadow: inset 0 -12px 12px -12px #999999;
}
.hr-note {
  height: 14px;
  border: 0;
  box-shadow: inset 0 5px 5px -5px #333333;
}

.no-notes{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* FORMs COMPONENT STYLES  */
.wrapper-form {
  margin: 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.form {
  height: 220px;
  display: flex;
  justify-content: space-between;
  gap: 70px;
  width: 100%;
}

.h2 {
  margin-bottom: 80px;
  font-weight: 500;
  font-size: 35px;
}

.left-form {
  margin-top: 42px;
  width: 40%;
  display: block;
}

@media screen and (max-width : 787px) {
  .form{
    height: 420px;
    flex-wrap: wrap;
    gap: 33px;
  }
  .left-form{
    width: 100%;
  }
}

.input {
  border-radius: 7px;
  width: 100%;
  padding-bottom: 1em;
  border: 1px solid black;
  border-bottom: 1px solid #2e2f22;
  font-size: 16px;
  box-sizing: border-box;
  padding: 10px;
}

.email-input {
  margin-top: 40px;
}

.button {
  margin-top: 50px;
  width: 100%;
  height: 45px;
  background: none;
  border-radius: 10px;
  font-size: 17px;
  border: 1px solid #0D6EFD;
  box-sizing: border-box;  ;
  color: #0D6EFD;
}
.button:hover{
  background-color: #0D6EFD;
  color: white;
}
.button:active{
  background-color: #0020F0;
}


.right-form {
  width: 100%;
}

.textarea {
  width: 100%;
  height: 225px;
  resize: none;
  border: 0;
  border: 1px solid #2e2f22;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 20px;
}

/* LOGIN PAGE CSS */
.Lflex-r,
.Lflex-c {
  justify-content: center;
  align-items: center;
  display: flex;
}
.Lflex-c {
  flex-direction: column;
}
.Lflex-r {
  flex-direction: row;
}

.Llogin-text {
  background-color: #f6f6f6;
  max-width: 400px;
  min-height: 500px;
  border-radius: 10px;
  padding: 10px 20px;
}

.Llogo {
  margin-bottom: 20px;
}
.Llogo span,
.Llogo span i {
  font-size: 25px;
  color: #3DC4E2;
}

.Llogin-text h1 {
  font-size: 25px;
}
.Llogin-text p {
  font-size: 15px;
  color: #000000b2;
}

.Lform {
  align-items: flex-start !important;
  width: 100%;
  margin-top: 15px;
}

.Linput-box {
  margin: 10px 0px;
  width: 100%;
}
.Llabel {
  font-size: 15px;
  color: black;
  margin-bottom: 3px;
}
.Linput {
  background-color: #f6f6f6;
  padding: 0px 5px;
  border: 2px solid rgba(216, 216, 216, 1);
  border-radius: 10px;
  overflow: hidden;
  justify-content: flex-start;
}

.LLinput {
  border: none;
  outline: none;
  padding: 10px 5px;
  background-color: #f6f6f6;
  flex: 1;
}
.Linput i {
  color: rgba(0, 0, 0, 0.4);
}


.btns {
  color: #ffffff;
  border-radius: 30px;
  padding: 10px 15px;
  background: linear-gradient(122.33deg, #68bed1 30.62%, #1e94e9 100%);
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  transition: all 0.3s linear;
}

.btns:hover {
  transform: translateY(-2px);
}
.Lextra-line {
  font-size: 15px;
  font-weight: 600;
}
.Lextra-line a {
  color: #0095b6;
}
